#validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}

body, html {
    font-family: calibri;
    font-size: .8em;
}

.album{
  width: 400px;
    height: 400px;
/*    Alles wat er niet in pas, zie je niet*/
    overflow: hidden;
    margin: 1em;
    float: left;
    position: relative;
}


.album article {
    position: relative;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 400px;
    padding: 1em;
    box-sizing: border-box;
    transition: margin-top 1s;
}


.album:hover article {
    margin-top: -403px;
    
}




footer {
    clear: left;
    text-align: center;
}